body {
	background: #3F3F3F;
}

h1,h2,h3{
	font-weight:bold;
}

.site-content .panel {
	padding: 2em 0px;
	border: 0;
	border-top: 1px solid rgb(132, 132, 132);
	background: transparent;
}

.panel {
	h1,h2,h3{
		color: #176be9;
	}
}

.site-content{
	background-color: white;
	z-index: 2;
	position: relative;
}

.seo-hide {
	display: none;
}

.site-logo {
	margin: 0 auto;
	display: block;
	position: relative;
	z-index: 10;
	bottom: -50px;
}

@media only screen and (min-width: 40.063em) {
	.site-logo {
		bottom: -120px;
	}	
}

.background-sp {
	height: 28em;
	position: relative;
	z-index: 3;
}
.background-sp-normal {
	display: none;
}

@media only screen and (min-width: 40.063em) {
	.background-sp-mobile {
		display: none;
	}
	.background-sp-normal {
		display: block;
	}
}

.register-btn {
	text-align: center;
	a {
		margin-top: 8.6em;
		font-size: 1.6em;
		border-bottom: 5px solid #D77622;
		@include text-shadow(
			rgba(black, 0.2) 1px 2px 2px);
	}
}

@media only screen and (max-width: 64.063em) {
	.register-btn a {
		margin-top: 0;
		position: relative;
		z-index: 11;
	}
}

.footer-map > iframe{
  margin-bottom: -6px;
}
@media only screen and (max-width: 64.063em) {
	.footer-map {
		display: none;
	}
}

.site-footer {
	position: relative;
	z-index: 1;
	iframe {
		width: 100%;
		height: 28em;
	}
}

.site-menu {
	position: fixed;
	width: 100%;
	z-index: 100;
	@include background-image(linear-gradient(top, rgba(0,0,0,0.82) 0%,rgba(0,0,0,0) 100%));
	.panel {
		padding: 0;
		background: none;
		border: 0px;
		margin-bottom: 0;
	}
	a{
		padding: 1.25rem;
		display: inline-block;
	}
}

@media only screen and (max-width: 40.063em) {
	.site-menu {
		position: static;
		.columns {
			padding: 0;
		}
		.panel {
			margin: 0;
		}
		a {
			display: block;
		}
	}
}

.site-footer-info {
	width: 100%;
}
@media only screen and (min-width: 64.063em) {
	.site-footer-info {
		position: fixed;
		bottom: 0;
	}
}

#charlas table{
	width: 100%;
}

#twitter-widget-0 {
    width: 100%;
    height: 430px;
}

.summary {
	.columns {
		margin: 2em 0;
	}
	.fa{
		float: left;
		font-size: 5.4em;
		color: $background-color;
		width: 1.3em;
		text-align: center;
	}	
}

.twitter-block {
	> iframe {
		width: 100% !important;
	}
}

@media only screen and (min-width: 40.063em) and (max-width: 64.063em) {
	.summary {
		text-align: center;
		.fa{
			width: 100%;
			margin-bottom: 0.3em;
		}
	}
}

.social-links {
	text-align: center;
	a{
		background: $background-color;
		color: white;
		display: inline-block;
		padding: 0.4em;
		font-size: 1.4em;
		width: 1.8em;
		border-radius: 100%;
		&:hover {
			background: lighten($background-color,10);
		}
	}
}

.stakeholders-list {
    text-align: center;
	img {
	    display: inline-block;
	    margin: 0.7em;
	}
}

.footer-block {
	margin-top: 1.25rem;
}

#modal-wrapper {
	display: none;
}